/* .App {
  text-align: center;
} */

.kont {
  display: flex;
  text-align: center;
  justify-content: center;
  /* flex-direction: column; */
}

.gunsBuy {
  background-color: rgb(90, 92, 92);
}

.gun {
  padding: 20px;
}

.portfel {
  background-color: rgb(199, 202, 201);
}

.day {
  position: absolute;
  text-align: center;
  background-color: rgb(241, 87, 87);
  top: 10px;
  left: 20px;
  padding: 5px;
  font-size: 25px;
}
